<body>
  <section class="dm-instance-tabs" aria-label="Instance UI tabs" data-i18n-aria-label="instanceTabs.aria">
    <div id="dmInstanceTabStrip" class="dm-instance-tab-strip"></div>
    <div id="dmInstanceTabViewport" class="dm-instance-tab-viewport">
      <div id="dmInstanceTabEmpty" class="dm-instance-tab-empty">
        <span class="material-symbols-outlined" aria-hidden="true">tab</span>
        <span data-i18n="instanceTabs.empty">Open an instance UI to keep it here.</span>
      </div>
    </div>
  </section>
  <script type="module" src="components/docker-manager/instance-tabs/instance-tabs.js"></script>
</body>
